@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Russo+One&display=swap');

body {
    background-color: black;
    margin: 0;
}

header {
    font-family: 'Orbitron', sans-serif;
    color: aqua;
    font-size: 7vh;
    text-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua, 0 0 20px aqua, 0 0 30px aqua, 0 0 40px aqua;
    background-color: #000;
    letter-spacing: 0.1em;
    width: 100vw;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#table {
    width: 80vw;
    height: 75vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

th {
    height: 16vh;
    width: 16vh;
}

footer {
    color: white;
    height: 7vh;
    padding-bottom: 1vh;
    width: 100vw;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width : 100vh) {
    header {
        font-size: 7vw;
    }
    
    footer {
        font-size: 4vw;
    }

    th {
        height: 16vw;
        width: 16vw;
    }
}


.de {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.de1 {
    background-image: url("source/dé1.png");
}

.de2 {
    background-image: url("source/dé2.png");
}

.de3 {
    background-image: url("source/dé3.png");
}

.de4 {
    background-image: url("source/dé4.png");
}

.de5 {
    background-image: url("source/dé5.png");
}

.de6 {
    background-image: url("source/dé6.png");
}